@tailwind base;
@tailwind components;
@tailwind utilities;


.grey-background {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 20px;
}

