@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overscroll-behavior: none;
}

iframe { width: 90%; height: 500px; border: 2px solid #ccc; border-radius: 10px; padding: none; }

.grey-background {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 20px;
}

/* Custom rule to limit the growth effect */
.search-max-growth {
    max-width: 400px; /* Adjust the maximum width as needed */
  }